<html>
    <title>index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script> 
    <head></head>
    <body>
        <div>
            <h2>Index Page...!!!</h2>
            <label for="txtSourceDir">Source Path</label>: 
            <input type="text" id="txtSourceDir" />
            <br>
            <label for="txtDestDir">Destination Path</label>: 
            <input type="text" id="txtDestDir" />
            <br>
            <input type="button" onclick="emit()" value="Emit" />
            <br>
            <div id="divResult"></div>
        </div>           
        <script src="./socket.js" type="text/javascript"></script>
    </body>
</html>